version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "monthly"
  cooldown:
    default-days: 7
- package-ecosystem: "terraform"
  directory: "/"
  schedule:
    interval: "monthly"
  cooldown:
    default-days: 7
